.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  position: relative;
  width: 390px;
  height: 844px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #010d14;
  align-items: center;
}

h1 {
  font-family: "VALORANT";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;

  background: linear-gradient(
    178.62deg,
    rgba(255, 255, 255, 0.4) 32.58%,
    rgba(255, 254, 254, 0) 84.23%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
h2 {
  font-family: "VALORANT";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  /* or 200% */

  text-align: center;
  letter-spacing: 0.2625px;

  color: #f9efd7;
}
.Login {
  position: absolute;
  width: 390px;
  height: 844px;

  background: #010d14;
}
.mb-2 {
  position: absolute;
  width: 324px;
  height: 60px;
  left: 33px;
  top: 321px;
  background: rgba(217, 217, 217, 0.13);
}
.mb-3 {
  position: absolute;
  width: 324px;
  height: 60px;
  left: 21px;
  top: 306px;
  border: 3px solid;
  border-color: rgba(0, 78, 73, 1);
}
h3 {
  position: absolute;
  height: 26px;
  left: 0%;
  right: 82.41%;
  top: calc(50% - 26px / 2 - 35px);

  font-family: "Arapey";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.3px;

  color: #f9efd7;
}
.mb-4 {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 256px;
  top: 442px;
  border: 3px solid;
  border-color: rgba(0, 78, 73, 1);
}

a {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: #f9efd7;
}
.mb-5 {
  position: absolute;
  width: 82px;
  height: 35px;
  left: 265px;
  top: 449px;
  background: rgba(217, 217, 217, 0.13);
}
.mb-1 {
  position: absolute;
  left: 6.92%;
  right: 4.36%;
  top: 27.45%;
  bottom: 70.62%;
}
.mb-0 {
  position: absolute;
  width: 311px;
  height: 100px;
  left: 34px;
  top: 147px;
}

.mx-3 {
  position: absolute;
  width: 46.5px;
  height: 43.31px;
  left: 70.13px;
  top: 52.34px;

  background: rgba(0, 253, 101, 0.24);
  transform: rotate(9.48deg);
}

.mt-2 {
  box-sizing: border-box;

  position: absolute;
  width: 47.67px;
  height: 54.11px;
  left: 272.69px;
  top: -25px;

  border: 1px solid #f9efd7;
  transform: rotate(69.5deg);
}
.mt-3 {
  position: absolute;
  width: 19.01px;
  height: 19.74px;
  left: 323.25px;
  top: 74.53px;

  background: rgba(0, 253, 101, 0.17);
  transform: rotate(9.48deg);
}

.mx-4 {
  position: absolute;
  width: 36.93px;
  height: 33.75px;
  left: 87.77px;
  top: 469.48px;

  background: rgba(0, 253, 101, 0.18);
  transform: rotate(69.5deg);
}

.ml-5 {
  box-sizing: border-box;

  position: absolute;
  width: 95.65px;
  height: 95.39px;
  left: 335.5px;
  top: 550px;

  border: 1px solid #f9efd7;
  transform: rotate(69.5deg);
}

mr-4 {
  box-sizing: border-box;

  position: absolute;
  width: 67.03px;
  height: 66.54px;
  left: 106.32px;
  top: 688.43px;
  border: 1px solid #f9efd7;
  transform: rotate(69.5deg);
}
.container {
  border-radius: 25px;

  width: 50vw;
  height: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.5;
  background-color: #f1f1f1;
}
input {
  border: none;
  width: 324px;
  height: 60px;
  left: 33px;
  top: 321px;
  background-color: rgba(217, 217, 217, 0.13);
  text-align: left;
  font-family: "Arapey";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.3px;

  color: #fcd57a;
}
input:focus {
  outline-color: rgba(217, 217, 217, 0.13);
}
